<h1 class="mt-4">Profiles</h1>
<p>A list of available profiles</p>

<table class="table">   
      <thead>   
      <tr>   
        <th scope="col">Name</th>   
        <th scope="col">Description</th>   
        <th scope="col">Actions</th>   
      </tr>   
      </thead>   
      <tbody>   
      <% @profiles.each do |profile| %>   
          <tr>   
            <td><%= profile.name %></td>
            <td><%= truncate(profile.description, :length => 75) %></td>   
               <div>   
               <td>   
                <%= link_to 'Show', profile_path(profile) %>   
                <%= link_to 'Edit', edit_profile_path(profile) %>   
                <%= link_to 'Delete', profile_path(profile), method: :delete %>   
              </div>   
            </td>   
          </tr>   
      <% end %>   
      </tbody>   
    </table>   